/* id  */
#Id {
  color: blue;
  text-align: right;
}

/*  class */
.class {
  color: blue;
}

/*  element  */
p {
  color: red;
  text-align: left;
}

/* nested */

/* descendent */

#dir p {
  color: brown;
  text-align: center;
}

/* direct child */
#dir > p{
}

/* universal */
* {
  color: green;
}

class,class {
}

element,element {
}
