body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 50vh;
    background-color: #fff;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #00000072;
}

nav img {
    height: 50px;
}

.nav_bar-left button,
.nav_bar-right button {
    border: none;
    color: #023058db;
    background-color: #fff;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
}

.Greeting {
    text-align: center;
    padding: 2rem;
}

.hero {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 0%;
}

.hero-left {
    flex: 1;
    max-width: 100%;
    padding: 20px;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-left button {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #51b9ea;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1rem;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-right img {
    max-width: 100%;
    height: 100vh;
    border-radius: 10px;    
}

footer {
    background-color: #0144b1;
    text-align: center;
    padding: 20px;
    color: white;
}
