body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #304070;
}


.input-section {
    margin: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
    background-color: #f1f1f1;
    border: 6px solid #000071;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #d2f2fa;
    color: black;
    border: 1px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffe297;
    border-color: #ba8600;
}

